AWS_REGION=<aws-region, e.g. us-west-2>

BEDROCK_EMBEDDING_MODEL_ID=amazon.titan-embed-text-v2:0
BEDROCK_LLM_MODEL=us.amazon.nova-micro-v1:0

REPO_URL=<github-repo-url-containing-md-docs>
VECTOR_DB_URL=<vector-db-url>

VECTOR_DB_PORT=<port>
VECTOR_DB_HOST=<vector-db-host-name>

MAIN_PORT=<port>
MAIN_HOST=<vector-db-host-name>
