AWS_REGION=<your-aws-region>

BEDROCK_EMBEDDING_MODEL_ID=amazon.titan-embed-text-v2:0
BEDROCK_LLM_MODEL=us.amazon.nova-micro-v1:0

K8_URL=https://github.com/kubernetes/website.git
VECTOR_DB_URL=http://localhost:8001

VECTOR_DB_PORT=8001
VECTOR_DB_HOST=localhost

MAIN_PORT=8000
MAIN_HOST=localhost