
K8_REPO_URL=

AWS_REGION=<aws-region>
AWS_ACCOUNT_ID=<aws-account-id>

BEDROCK_LLM_MODEL=<amazon.llm-model:0>
BEDROCK_EMBEDDING_MODEL_ID=<amazon.embedding-model:0>

S3_VECTOR_BUCKET_NAME=<bucket-name>
S3_VECTOR_INDEX_NAME=<index-name>

S3_VECTOR_URL=arn:aws:s3vectors:<aws-region>:<aws-account-id>:bucket/<bucket-name>/index/<index-name>

MAIN_BACKEND_HOST=127.0.0.1
MAIN_BACKEND_PORT=8000