K8_REPO_URL=https://github.com/kubernetes/website.git

AWS_REGION=<AWS-Region>
AWS_ACCOUNT_ID=<AWS-Account-ID>

BEDROCK_LLM_MODEL=<Bedrock-LLM-Model-API>

S3_BUCKET_NAME=<S3-Bucket-name>

MAIN_BACKEND_HOST=127.0.0.1
MAIN_BACKEND_PORT=8000